@import "module";
@import "constants";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/opacity";

ul,
li,
a {
	margin: 0;
	padding: 0;
	list-style: none;
}


.container {
	position: fixed;
	width: 100%;
	height: 100%;
	perspective: 800px;
	@include nosel();

}

.photo {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.clock {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fcfaec;

}

.music {
	line-height: 0;
	position: absolute;
	top: 9px;
	right: 9px;
	a {
		font-size: 9px;
		text-decoration: none;
		color: #7d6b48;
	}
}

.timer {
	line-height: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	color: #7d6b48;
	@include fontsize(99);
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.hh,
.mm,
.ss {
	margin-right: 0.18em;
}